  .squares a.squares-link .inside-square:hover {
      h2 {
          font-weight: 800;
      }

      opacity: 0.9;
      transition: opacity 200ms ease 0s;
  }

  .squares {
      height: 100vh;
      background: black;
      display: grid;
      grid-template-columns: repeat(3, 4fr);
      position: relative;

      .squares-link {
          text-decoration: none;
          background-color: white;

          .inside-square {
              height: 325px;
              display: flex;
              padding-left: 7vw;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              align-items: center;

              h2 {
                  font-family: Arial, Helvetica, sans-serif;
                  font-weight: 700;
                  font-style: normal;
                  font-size: 10px;
                  letter-spacing: 0.2em;
                  line-height: 3em;
                  text-transform: uppercase;
                  color: red;
              }
          }
      }
  }