.react-parallax-bgimage {
    top: 15%;
    height: 69vh !important;
    width: 100vw !important;
}

.container {


    .backgoundParallaxRed {
        padding: 0px 5px 0px 5px;
        height: 100vh;
        background-color: red;
    }
    .backgoundParallaxBlack {
        padding: 0px 5px 0px 5px;
        height: 100vh;
        background-color: black;
    }

    video {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .video-wrapper {
        height: 100vh;
        background-color: black;
        position: relative;
        overflow: hidden;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .header {
            position: relative;

            img {
                width: 100%;
                z-index: 2;
            }
        }
    }


}