.container {
  background-color: red;
  .logoBlack {
    padding: 5px;
    padding-top: 2rem;
    background-image: url("../../../assets/img/legendblack.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .loopText {
      color: rgba(111, 88, 42, 0.9);
    }
  }
}
svg.svgwave {
  width: 100%;
  height: 90vh;
  overflow: visible;
}

svg.svgwave path {
  fill: transparent;
  stroke-width: 1px;
}

svg.svgwave text {
  font-size: 10px;
  fill: rgba(111, 88, 42, 0.9);
  font-family: normalidad-ultraextended;
  font-weight: 500;
  font-style: normal;
}
