<div class="footer-container">
  <h2>
    <a class="main-link" href="#">LEGEND.CO</a>
  </h2>

  <div class="rsss">
    <a href="https://www.facebook.com/ireyes7" target="_blank"><mat-icon svgIcon="facebook"></mat-icon></a>
    <a href="https://www.linkedin.com/in/ireyescarlos/" target="_blank"><mat-icon svgIcon="linkedin"></mat-icon></a>
    <a href="https://instagram.com/itl7?igshid=MzRlODBiNWFlZA==" target="_blank"><mat-icon svgIcon="instagram"></mat-icon></a>
  </div>
  <div class="routing">
    <span>
      <a href="#">CONTACT</a>
    </span>
    <span>
      <a href="#">FAQ</a>
    </span>
    <span>
      <a href="#">BLOG</a>
    </span>
  </div>
</div>
